* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
  user-select: none;
}

.Unactive {
  pointer-events: none;
  opacity: 0.8;
}


.shimmerBg {
  background: #FAFAF9;
  background: linear-gradient(to right, #F1F5F9 8%, #CBD5E1 18%, #F1F5F9 33%);
  background-size: 1200px 100%;
  animation: shimmer 2.9s linear infinite forwards;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}



/* Button Loader */
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.loader {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
  }

  66% {
    background: #FF3D00;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }

  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
  }
}

/* Button Loader */

/*! Lazy Loader */
.__lazyLoader {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createPostLoaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(2px);
}

.lazyLoaderPoster {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

}

.lazyLoaderPoster::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  animation: rotation 2.5s infinite linear;
  border-radius: 50%;
}

.lazyLoaderPoster img {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*! lazy Loader */

/* ! This block holds the design of OTP */
.otpVerifier__Form {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otpVerifier__Form_heading {
  width: 75px;
  height: 75px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  color: white;
}

.otpVerifier__Form_heading_ICON {
  font-size: 35px;
}

.otpVerifier__Form_Secondaryheading {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

.otpVerifier__mailSentTo {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}

.OTPForm__inputboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4em auto 0px auto;
  width: 95%;
}

.OTPForm__input {
  outline: none;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.6);
  border-radius: 4px;
  font-size: 25px;
  font-weight: 300;
}

.OTPForm__input:focus {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7) border-box;
  border: 2px solid transparent;
}

.OTP_Form_ButtonContainer {
  margin: 20px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
}

.OTP__buttons {
  position: relative;
  width: 145px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: all 500ms ease-in-out;
}

.OTPForn__clearButton {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7) border-box;
  border: 1.5px solid transparent;
}


.OTPForn__verifyButton {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  color: white;
}

.OTP__buttons:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* ! This block holds the design of OTP */

.post__LIKEDICONS {
  color: #ed3548;
}

.post__LIKEDICONS:hover {
  color: #ed3548 !important;
}


/* __likelistPopup_Container */
.__likelistPopup_Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.198);
  backdrop-filter: blur(2px);
  --webkit-background-filter: blur(2px);
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.__likelistPopup {
  background-color: white;
  width: 475px;
  height: 575px;
  border-radius: 5px;
  overflow: hidden;
}

.__likelistPopup_heading {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.6em;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid rgba(128, 128, 128, 0.258);
}

.__likelistPopup_closeButton {
  font-size: 25px;
  cursor: pointer;
}

.__likelistPopup_userList {
  height: calc(100% - 50px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  padding: 1em 0.5em;
  scrollbar-width: none;
  position: relative;
}

.__likelistPopup_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
}

.__likelistPopup_userList_ITEMS {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.__likelistPopup_userProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.__likelistPopup_userInfo {
  width: calc(100% - 150px);
  padding-left: 0.6em;
}

.__likelistPopup_userName {
  display: block;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.__likelistPopup_userName:hover {
  cursor: pointer;
  color: grey;
}

.__likelistPopup_userFullName {
  display: block;
  margin-top: 3px;
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

.__likelistPopup_buttons {
  border: none;
  outline: none;
  color: white;
  background-color: #0095F6;
  color: white;
  font-weight: 500;
  width: 100px;
  padding: 0.8em;
  border-radius: 5px;
  font-size: 12px;
}

.__likelistPopup_buttons:hover {
  cursor: pointer;
  background-color: #0081d6;
}

.__likeListPopup_secondaryButtons {
  background-color: rgba(119, 136, 153, 0.263);
  color: black;
}

.__likeListPopup_secondaryButtons:hover {
  cursor: pointer;
  background-color: rgba(119, 136, 153, 0.5);
}

/* Post Options popup */
.__postOptionsContainer {
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.__postOptions_Box {
  border-radius: 5px;
  width: 375px;
  height: fit-content;
  background-color: white;
}

.__aboutAccountBox_heading {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.18);
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding: 1em;
}

.__postOptions_Item {
  border: none;
  outline: none;
  display: block;
  height: 55px;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border-top: 1px solid rgba(128, 128, 128, 0.365);
  font-weight: 300;
  position: relative;
}

.__postOptions_Item:first-child {
  color: #ED4956;
  font-weight: 600;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: none;
}

.__postOptions_Item:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.__postOptions_Item:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
}

.__aboutAccountBox {
  width: 375px;
  background-color: white;
  border-radius: 5px;
  height: fit-content;
  min-height: 425px;
  position: relative;
}

.__userProfile {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

.__aboutAccount_userName {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding: 0.5em;
}

.__aboutAccount_BIO {
  font-size: 14px;
  color: grey;
  font-weight: 300;
  text-align: center;
}

.__aboutAccount__itmes {
  border-top: 1px solid rgba(128, 128, 128, 0.234);
  border-bottom: 1px solid rgba(128, 128, 128, 0.234);
  width: 100%;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin: 0px auto;
  margin-top: 10px;
}

.__aboutAccount_ItemICON {
  font-size: 24px;
}

.__aboutAccount_ItemText {
  width: calc(100% - 50px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 2px;
  font-weight: 400;
  color: grey;
  font-size: 18px;
}

.__aboutAccount_itemCount {
  font-weight: 600;
  color: black;
  font-size: 16px;
}

.__aboutAccount__button {
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
  width: 100%;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #ed3548;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.__aboutAccount__button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.1);
}

/*! Responsive Styles */

@media screen and (max-width: 550px) {

  .otpVerifier__Form {
    width: 95vw;
  }
}

@media screen and (max-width: 500px) {

  .OTPForm__input {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .OTP_Form_ButtonContainer {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .OTP__buttons {
    width: 95%;
  }

  .__likelistPopup {
    width: 100%;
  }

  .__postDetailsPopup {
    width: 95%;
  }
}

@media screen and (max-width: 376px) {
  .OTPForm__input {
    width: 40px;
    height: 40px;
  }

  .__postOptions_Box,
  .__aboutAccountBox {
    width: 100%;
  }
}