@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
  user-select: none;
}

.Unactive {
  pointer-events: none;
  opacity: 0.8;

}

/* Button Loader */
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.loader {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
  }

  66% {
    background: #FF3D00;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }

  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
  }
}

.componentloaderContainer {
  background-color: rgba(0, 0, 0, 0.244);
  backdrop-filter: blur(2px);
}

.initialLoader {
  background-color: rgb(252, 251, 251);
}

.initialLoader .Componentloader {
  background-image:
    linear-gradient(orange 16px, transparent 0),
    linear-gradient(#FF3D00 16px, transparent 0),
    linear-gradient(hsl(14, 100%, 50%) 16px, transparent 0),
    linear-gradient(orange 16px, transparent 0);
}

.Componentloader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image:
    linear-gradient(#FFF 16px, transparent 0),
    linear-gradient(#FF3D00 16px, transparent 0),
    linear-gradient(#FF3D00 16px, transparent 0),
    linear-gradient(#FFF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg)
  }

  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg)
  }

  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg)
  }
}



.postLoaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostLoader {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.PostLoader div {
  transform-origin: 40px 40px;
  animation: PostLoader 1.2s linear infinite;
}

.PostLoader div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #FF3D00;
}

.PostLoader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.PostLoader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.PostLoader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.PostLoader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.PostLoader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.PostLoader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.PostLoader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.PostLoader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.PostLoader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.PostLoader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.PostLoader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.PostLoader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes PostLoader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Button Loader */

/*! Lazy Loader */
.__lazyLoader {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./Assets/instaLOGOLoader.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: top right;
}

.__lazyLoader_title {
  font-weight: 700;
  font-size: 32px;
  -webkit-text-stroke: 2px #6228d7;
  color: transparent;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.__lazyLoader_title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  white-space: nowrap;
  color: #ee2a7b;
  -webkit-text-stroke: 0px transparent;
  overflow: hidden;
  transition: width 500ms ease-in-out;
  animation: text-fill 3s ease-in-out alternate infinite;
}

@keyframes text-fill {
  100% {
    width: 100%;
  }
}

/*! lazy Loader */

/* ! This block holds the design of login, signup, forgot and reset password section */
.userAuth__container {
  background-color: rgb(252, 251, 251);
  width: 100%;
  min-height: 100dvh;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authContainer__LeftSideContainer {
  height: 100%;
  width: 500px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2em;
  justify-content: flex-end;
}

.LeftSideContainer__PosterBox {
  width: 500px;
  height: 750px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./Assets/home-phones.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PosterBox__phonePoster {
  width: 550px;
  height: 100%;
}

.PosterBox__dynamicImages {
  position: absolute;
  top: 30px;
  height: 85%;
  right: 45px;
  transition: all 0.3s ease-in-out;
}

.authContainer__RightSideContainer {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Auth__UserLoginFormContainer {
  width: 100%;
  height: 100%;
}

.authFormn_Box {
  border-radius: 3px;
  border: 2px solid rgb(219, 219, 219);
  width: 450px;
}

.LoginForm__Link__Logo {
  text-decoration: none;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.1em 0em;
}

.LoginForm__LOGO {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Auth__LoginForm {
  width: 90%;
  margin: 20px auto;
}

.Auth__formItemBox {
  margin-bottom: 10px;
  position: relative;
}

.ItemBox__errorState {
  border: 2px solid #e5532d !important;
}

.Auth__formItem {
  outline: none;
  width: 100%;
  height: 50px;
  padding: 0em 0.6em;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
  font-size: 16px;
}

.Auth__formItem:focus {
  outline: 1px solid rgb(219, 219, 219);
}

.Auth__formButton {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: rgb(0, 149, 246);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  margin: 20px 0px 10px 0px;
  position: relative;
}

.Auth__formButton:hover {
  cursor: pointer;
  background-color: #0866ff;
}

.unActiveFormButton {
  pointer-events: none;
  background-color: rgba(0, 148, 246, 0.74);
}

.formPassword__showHide {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: rgb(39, 39, 39);
}

.formPassword__showHide:hover {
  cursor: pointer;
  color: rgb(95, 94, 94);
}

.authForm__hrContainer {
  width: 95%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px auto;
}

.authForm__hrContainer_line {
  border: 1px solid rgb(219, 219, 219);
  width: 100%;
}

.authForm__hrContainerOR_text {
  width: 50px;
  text-align: center;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(252, 251, 251);
  color: rgb(115, 115, 115);
}

.authForm__googleLoginLINK {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #385185;
  text-decoration: none;
}

.googleLoginLOGO {
  width: 25px;
}

.authForm__googleLoginText {
  font-weight: 500;
  font-size: 18px;
}

.authForm__googleLoginLINK:hover {
  cursor: pointer;
  color: #1f57cf;
  font-weight: 600;
}

.authForm__forgotPasswordText {
  margin-top: 35px;
  text-align: center;
  color: rgb(0, 55, 107);
  font-size: 16px;
  font-weight: 400;
}

.authForm__forgotPasswordText:hover {
  cursor: pointer;
  font-weight: 500;
}

.authGotoSignUP_container {
  border: 2px solid rgb(219, 219, 219);
  margin-top: 10px;
  width: 450px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gotoRegisterPageLINK {
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
  color: rgb(0, 149, 246);
  text-align: center;
}

.Get_App_Container {
  width: 450px;
  margin-top: 10px;
}

.Get_App_Container-Title {
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.platformButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.platformButtonImages {
  height: 40px
}

.authForm__securityLOGO {
  display: block;
  width: 120px;
  border-radius: 50%;
  margin: 10px auto;
}

.authForm__ForgotPassHeading {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.authForm__ForgotPassSubHeading {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding: 0em 0.6em;
  margin: 20px 0px;

}

.createNewAccountLInk {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

.createNewAccountLInk:hover {
  cursor: pointer;
  color: rgb(143, 143, 143);
}

.getOTP_button {
  height: 45px;
}

.getOTP_button.unActiveFormButton {
  opacity: 0.5;
}

.backtoLogIN_button {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  height: 44px;
  background: rgba(218, 217, 217, 0.342);
  font-weight: 600;
  font-size: 18px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;

}

.forgotPasswordauthBox {
  position: relative;
  height: 620px;
  margin-bottom: 3em;
  padding-top: 1.5em;
}

/* ! This block holds the design of login, signup, forgot and reset password section */


/* ! This block holds the design of the homepage navlinks */
.homeContainer {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.__outlet {
  width: calc(100% - 245px);
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.__nav_Header {
  display: none;
}

.instaLogo {
  width: 10em;
  padding-left: 10px;
}

.navbar {
  border-right: 1px solid rgb(175, 175, 175);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 245px;
  gap: 5px;
}

.navLink {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 1em;
  transition: 400ms;
  border-radius: 10px;
  width: 94%;
  height: 3.5em;
  margin: auto;
}


.navIcon {
  width: 1.8em;
}


.__instaIcon_Hide {
  display: none;
}

.__navbar_moreButton {
  height: 3.5em;
  border: none;
  outline: none;
  transition: 400ms;
  border-radius: 10px;
  width: 94%;
  height: 3.3em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 1em;
  background: transparent;
  transition: 500ms ease;
  margin: 0px auto;
  font-size: 15px;
}

.moreIcon {
  width: 2.2em;
}

.navLink:hover,
.__navbar_moreButton:hover,
.__popupLinkItem:hover,
.__popupLogoutButton:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  transform: scale(1.02);
}

.__popupContainer {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 275px;
  height: 325px;
  position: absolute;
  bottom: 95px;
  right: -16%;
  z-index: 2;
  background-color: white;
}

.__popupLinkItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: black;
  margin: 10px auto;
  height: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  width: 94%;
  padding-left: 1em;
  border-radius: 10px;
  background: transparent;
  transition: 500ms ease;

}

.__popupLinkItem_ICON {
  font-size: 22px;
}

.__popupDividerLINE {
  display: block;
  margin: 5px auto 10px auto;
  border: 1px solid rgba(175, 175, 175, 0.341);
  width: 100%;
}

.__popupLogoutButton {
  border: none;
  outline: none;
  display: block;
  border-radius: 10px;
  height: 45px;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  width: 94%;
  text-align: left;
  padding-left: 1em;
  margin: 15px auto 0px auto;
  transition: 500ms ease;
}

/* ! This block holds the design of the homepage navlinks */


/* ! This block holds the design of OTP */
.otpVerifier__Form {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otpVerifier__Form_heading {
  width: 75px;
  height: 75px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  color: white;
}

.otpVerifier__Form_heading_ICON {
  font-size: 35px;
}

.otpVerifier__Form_Secondaryheading {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

.otpVerifier__mailSentTo {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}

.OTPForm__inputboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4em auto 0px auto;
  width: 95%;
}
.OTPForm__input {
  outline: none;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.6);
  border-radius: 4px;
  font-size: 25px;
  font-weight: 300;
}

.OTPForm__input:focus {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7) border-box;
  border: 2px solid transparent;
}

.OTP_Form_ButtonContainer {
  margin: 20px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
}

.OTP__buttons {
  position: relative;
  width: 145px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: all 500ms ease-in-out;
}

.OTPForn__clearButton {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7) border-box;
  border: 1.5px solid transparent;
}


.OTPForn__verifyButton {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  color: white;
}

.OTP__buttons:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* ! This block holds the design of OTP */


/* ! This block holds the design of Dashboard HOME Section */
.dashboard__homeSection {
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.homeSection__ShowPostContainer {
  min-height: 100vh;
  width: calc(100% - 40%);
  position: relative;
}

.homeSection__currentUserContainer {
  min-height: 90vh;
  width: 30%;
}

.currentUserContainer_currentUserBox {
  border-bottom: 1px solid rgba(128, 128, 128, 0.175);
  margin: 20px auto 10px auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5em;
}

.currentUserContainer_currentUser {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.currentUserBox_profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.currentUserBox_userNameBox {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.currentUserBox__userName,
.SuggestedUserBox__userName {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 16px;
}

.currentUserBox__userName:hover {
  cursor: pointer;
  color: grey;
}

.currentUserBox__userFullName {
  font-size: 14px;
  color: grey;
  font-weight: 500;
  text-transform: capitalize;
  cursor: text;
}


.currentUserBox__userSettingICON {
  font-size: 22px;
  color: black;
}

.currentUserBox__userSettingICON:hover {
  cursor: pointer;
  color: grey;
}

.homeSection__suggestedUserContainer {
  height: 585px
}

.suggestedUserContainer__heading {
  font-size: 16px;
  font-weight: 500;
  color: #737373;
  border-bottom: 5px;
}

.currentUserContainer_SuggestedUserBox {
  margin: 8px auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5em;
}

.SuggestedUserBox__suggestText {
  font-size: 14px;
  font-weight: 300;
  color: grey;
}

.SuggestedUserBox__viewUserButton {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-transform: capitalize;
}

.SuggestedUserBox__viewUserButton:hover {
  cursor: pointer;
  color: grey
}

/* home postcard */
.HomeSection__homePostCard {
  width: 500px;
  margin: 20px auto;
  border-bottom: 1px solid rgba(119, 136, 153, 0.408);
}

.homePostCard_header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.4em;
}

.homePostCard__PostOwner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePostCard__PostOwnerProfile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.homePostCard__PostOwnerName {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.homePostCard__blackDOT {
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  background-color: black;
  margin: 0px 10px;
}

.homePostCard__PostDate {
  font-size: 13px;
  color: grey;
  font-weight: 400;
}

.homePostCard__threeDotOptions {
  font-size: 25px;
}

.homePostCard_PostPoster {
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  border: none;
  outline: none;
  margin: 5px auto;
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.homePostCard__iconButton_Box {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homePostCard__iconButton {
  font-size: 25px;
  margin-right: 15px;
}

.homePostCard__iconButton:hover {
  cursor: pointer;
  color: grey;
}

.post__LIKEDICONS {
  color: #ed3548;
}

.post__LIKEDICONS:hover {
  color: #ed3548;
}

.homePostCard__iconButton:last-child {
  margin-right: 0;
}

.homePostCard__LikeCounter {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.homePostCard__LikeCount {
  font-size: 18px;
  font-weight: 500;
}

.homePostCard__captionBox {
  min-height: 40px;
  line-height: 1.2em;
}

.homePostCard__captionBox_userName {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-right: 5px;
  color: black;
}

.homePostCard__captionBox_userName:hover {
  cursor: pointer;
  color: grey;
}

.homePostCard__caption {
  font-weight: 14px;
  font-weight: 400;
}

.homePostCard__viewAllComment {
  text-decoration: none;
  display: block;
  margin: 5px 0px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  opacity: 0.8;
  cursor: pointer;
}

.homePostCard__viewAllComment:hover {
  cursor: pointer;
  opacity: 1;
}

.homePostCard__createCommentBox {
  height: 50px;
}

.homePostCard__commentInput {
  border: none;
  outline: none;
  height: 100%;
  width: calc(100% - 80px);
  font-size: 16px;

}

.homePostCard__commentPostButton {
  background-color: transparent;
  width: 80px;
  font-size: 16px;
  color: #0095F6;
  font-weight: 500;
  border: none;
  height: 100%;
}

.homePostCard__commentPostButton:hover {
  cursor: pointer;
  color: #385185;
}

/* ! This block holds the design of Dashboard HOME Section */


/* ! This block holds the design of DASHBOARD PROFILE SECTION */
.dashboard__ProfileSection {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.dashboard__currentUser__infoContainer {
  width: 80%;
  margin: 20px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em;
  position: relative;
}


.infoContainer__userProfile {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  align-self: flex-start;
}

.userProile {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.infoContainer__userBox {
  width: calc(100% - 230px);
  min-height: 275px;

}

.userBox__userName {
  text-transform: lowercase;
  font-weight: 500;
  color: black;
  font-size: 22px;
  padding: 0.6em;
  position: relative;
}

.userBox__editProfileButton {
  width: 125px;
  font-size: 14px;
  font-weight: 500;
  padding: 0.7em;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(119, 136, 153, 0.263);
  margin-left: 20px;
}

.userBox__followButton {
  background-color: #0095F6;
  color: white;
  font-weight: 600;
}

.userBox__editProfileButton:hover {
  cursor: pointer;
  background-color: rgba(119, 136, 153, 0.5);
}

.userBox__followButton:hover {
  cursor: pointer;
  background-color: #0866ff;
}

.userBox__userActivityState {
  margin: 20px auto;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.userBox__activity {
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  word-spacing: 5px;
}

.userBox__fullName {
  font-size: 18px;
  font-weight: 400;
}

.userBox__userBIO {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.812);
  margin-top: 10px;
}

.userBox__websiteLINK {
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: black;
}

.userBox__websiteLINK:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dashboard__currentUser__PostsContainer {
  border-top: 1px solid rgba(128, 128, 128, 0.848);
  width: 80%;
  margin: 10px auto;
  min-height: 400px;
}

.dashboard__postsContainer_navbar {
  width: 275px;
  height: 70px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.PostsContainer__navItem {
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.542);
  font-weight: 400;
  text-transform: uppercase;
}

.postsContainer__navitemICON {
  width: 22px;
  margin-right: 6px;
}

.PostsContainer__navItem.active {
  border-top: 1px solid black;
  color: black;
  font-weight: 600;
}

.postsContainer__outLetContainer {
  min-height: 300px;
}

.dashboard__profileSection__ProfilePostsContainer {
  width: 100%;
  min-height: 300px;
}

.ProfilePostsContainer__NOpostBox {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.noPostICON {
  width: 90px;
  height: 90px;
}

.noPost__title {
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 15px 0px;
}

.noPost__secondaryTest {
  width: 52%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.713);
  text-align: center;
}

.profilePostContainer__PostBox {
  width: 100%;
  min-height: 350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 325px));
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePostContainer__postCard {
  width: 100%;
  height: 325px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profilePostContainer__postPoster {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 2px;
  overflow: hidden;
}

.profilePostcontainer__postInfo {
  border-radius: 3px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(2px);
  display: none;
  transition: all 0.4s ease-in-out;
}

.profilePostContainer_postInfoBox {
  font-size: 28px;
  min-width: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profilePostcontainer__postInfoICON {
  font-size: 25px;
}

.profilePostContainer__postCard:hover .profilePostcontainer__postInfo {
  display: flex;
}

/* ! This block holds the design of DASHBOARD PROFILE SECTION */


/* ! This block holds the design of DASHBOARD Create Post SECTION */
.Dashboard__CreateSection__container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.CreatePost__box {
  margin: 2em 0em;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.342);
  width: 550px;
  height: 725px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 1em;
  flex-direction: column;
  position: relative;
}

.CreatePost__box .postLoaderContainer {
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.createPost__previewImageBox {
  width: 100%;
  border-radius: 8px;
  height: 275px;
}

.creaetPost__PreviewImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.createPost__form {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 100%;
  height: calc(100% - 300px);
  border-radius: 10px;
}

.createPost__formHeading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding: 0em 0.5em;
  font-size: 20px;
}

.createPost__ShareButton {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #0095F6;
}

.createPost__ShareButton:hover {
  cursor: pointer;
  color: black;
}

.createPost__currentUserInfo {
  width: 100%;
  margin: 10px auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 0em 1em;
}

.CreatePost__profilePictureBox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.CreatePost__profilePicture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.createPost__currentUserName {
  font-weight: 400;
  font-size: 18px;
}

.createPost__captionBox {
  outline: none;
  border: none;
  display: block;
  margin: 0px auto;
  resize: none;
  width: 90%;
  height: 220px;
  font-size: 16px;
  font-weight: 400;
}

.createPost__captionBox::placeholder {
  color: darkgray;
  font-size: 14px;
}

.createPost__selectImageICON {
  margin-top: 10px;
  width: 32px;
  margin-left: 1.7em;
  transition: all 0.3s ease-in;
}

.createPost__selectImageICON:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* ! This block holds the design of DASHBOARD Create Post SECTION */


/* ! This block holds the design of Setting PAGE */
.__settingSection__mainContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
}

.__settingSection__settingBOX {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 95%;
  min-height: 95vh;
  border-radius: 10px;
}

.__settingSection__nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.209);
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0em 1em;
  gap: 25px;
}

.__settingSection__navItems {
  text-decoration: none;
  color: black;
  padding: 0.7em 1.5em;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  transition: 400ms ease;
}

.__settingSection__navItems:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  transform: scale(1.02);
}

.__settingSection__navItems.active {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
}

.__settingSection__outletContainer {
  width: 100%;
  min-height: calc(95vh - 60px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  position: relative;
}

.__EditProfile_form {
  width: 550px;
}

.__EditProfile__profilePicture_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0em 0.3em;
  height: 80px;
}

.__EditProfile_userProfileBox {
  width: 80px;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.__EditPrfoile_userProfile {
  width: 100%;
  height: 100%;
}

.__EditProfile_buttonBox {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 1em;
  gap: 10px;
}

.__editProfile__userName {
  font-size: 18px;
  font-weight: 500;
}

.__changeProfilePopupButton {
  border: none;
  outline: none;
  background-color: transparent;
  color: #0866ff;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}

.__changeProfilePopupButton:hover {
  cursor: pointer;
  color: black;
}

.__EditProfile__formRow {
  margin-top: 1em;
}

.__EditProfile_formLabel {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: block;
  padding-left: 0.5em;
}

.__EditProfile_formInputItem {
  border: none;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.537);
  display: block;
  width: 100%;
  height: 45px;
  margin-top: 8px;
  border-radius: 5px;
  padding: 0em 1em;
  font-weight: 500;
  font-size: 16px;
}

.__EditProfile_formTextArea {
  border: none;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.537);
  display: block;
  width: 100%;
  resize: none;
  height: 150px;
  margin-top: 8px;
  border-radius: 5px;
  padding: 1em;
  font-weight: 500;
  font-size: 16px;
}

.__EditProfile__selectOPTION {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.__EditProfile__buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.__EditProfile_saveButton {
  border: none;
  outline: none;
  color: white;
  background-color: #0866ff;
  width: 275px;
  height: 45px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
}

.__EditProfile_saveButton:hover {
  cursor: pointer;
  background-color: #1f57cf;
}

.__EditProfile__UpdatePicturePopup_Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.__Setting__UpdatePicturePopup {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 425px;
  background-color: white;
  border-radius: 10px;
}

.__popupUserProfile {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

.__UpdatePicturePopup_Heading {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 2em;
}

.__UpdatePicturePopupButtons {
  position: relative;
  border: none;
  outline: none;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 55px;
  margin: 0px auto;
  background-color: transparent;
  border-top: 1px solid rgba(128, 128, 128, 0.479);
}

.__UpdatePicturePopupButtons:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.__UpdatePictureButton {
  font-weight: 600;
  color: #0095F6;
  font-size: 18px;
}

.__RemoveCurrentPictureButton {
  font-size: 17px;
  font-weight: 600;
  color: #e5532d;
}

.__UpdatePicturePopupButtons:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.__Setting__UpdatePasswordContainer {
  box-shadow: none;
  border: none;
  height: fit-content;
}

.__Setting__PrivacyContainer {
  width: 100%;
  min-height: calc(95vh - 110px);
}

.__PrivacyContainer__DeleteAccoutBox {
  margin-bottom: 25px;
}

.__DeleteAccountBox__heading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.__DeleteAccountBox_Deleteform {
  padding: 0em 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px auto;
}

.__Deleteform_Row {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  flex: 450px;
  position: relative;
}

.__DeleteForm__ShowPassbtn {
  display: block;
  border: none;
  outline: none;
  position: absolute;
  right: 2px;
  height: 35px;
  bottom: 12.5px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  width: 90px;
}

.__DeleteForm__ShowPassbtn:hover {
  cursor: pointer;
  color: #737373;
}

.__Deleteform__label {
  font-weight: 600;
  font-size: 16px;
}

.__DeleteformRow__inputBox {
  margin-top: 10px;
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128, 0.394);
  padding: 0em 1em;
  font-size: 14px;
  font-weight: 400;
}

.__DeleteForm__buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 100%;
}

.__Deleteform__deleteButton {
  border: none;
  outline: none;
  width: 225px;
  padding: 0em 1em;
  background-color: #d43f3a;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.__Deleteform__deleteButton:hover {
  cursor: pointer;
  background-color: #d9534f;
}

.__DeleteAccoutPopupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.__DeleteAccoutPopup {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  border-radius: 5px;
  width: 475px;
  padding: 1em;
}

.__DeleteAccountPopup__Heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 22px;
  font-weight: 600;
}

.__DeleteAccoutPopup__ICON {
  display: block;
  background-color: #e5532d;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.__DeleteAccountPopup__LIST {
  width: 80%;
  margin: auto;
  list-style-type: none;
  margin: 20px auto 30px auto;
  font-weight: 600;
}

.__DeleteAccountPopup__listITEM {
  font-weight: 500;
  color: #737373;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 9px;
}

.__DeleteAccoutPopup_ButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.__DeleteAccoutPopup_Buttons {
  border-radius: 5px;
  height: 40px;
  padding: 0.5em 1.8em;
  font-size: 14px;
  border: none;
  outline: none;
}

.__DeleteAccoutPopup_Buttons:nth-child(1) {
  background-color: #385185;
  color: white;
}

.__DeleteAccoutPopup_Buttons:nth-child(2) {
  background-color: #d43f3a;
  color: white;
  position: relative;
  min-width: 125px;
}

.__DeleteAccoutPopup_Buttons:hover {
  cursor: pointer;
  transform: scale(0.97);
}
.__DeleteAccountPopup__OTPContainer{
  width: 100%;
  margin: 20px auto 40px auto;
}


/*! Responsive Styles */

@media screen and (max-width: 1247px) {
  .homeSection__currentUserContainer {
    display: none;
  }

  .homeSection__ShowPostContainer {
    width: 100%;
  }

  .profilePostContainer__PostBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 990px) {
  .authContainer__LeftSideContainer {
    display: none;
  }

  .__outlet {
    display: inline-block;
    width: calc(100% - 80px);
    height: 100vh;
  }

  .navbar,
  .nav {
    width: 80px;
  }

  .nav {
    align-items: center;
    justify-content: center;
  }

  .navLink {
    width: 80%;
  }

  .instaLogo {
    display: none;
  }

  .__instaIcon_Hide {
    display: block;
    font-size: 5px;
    margin-left: 1.5em;
  }

  .__navTitle {
    display: none;
  }

  .__popupContainer {
    bottom: 30px;
    right: -260px;
  }
}

@media screen and (max-width: 815px) {

  .dashboard__currentUser__PostsContainer,
  .dashboard__currentUser__infoContainer {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .dashboard__currentUser__PostsContainer {
    margin: 0px auto;
  }

  .infoContainer__userProfile {
    width: 120px;
    height: 120px;
  }

  .userBox__userActivityState {
    border-top: 1px solid rgba(128, 128, 128, 0.671);
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
  }

  .userBox__activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .infoContainer__userBox {
    width: calc(100% - 140px);
    align-self: flex-start;
  }

  .userBox__userName {
    padding: 0.6em 0em;
  }

  .userBox__fullName {
    margin: 10px 0px;
    font-size: 20px;
  }

  .postsContainer__navItemTExt {
    display: none;
  }

  .dashboard__postsContainer_navbar {
    width: 100%;
  }

  .PostsContainer__navItem {
    width: 120px;
  }

  .postsContainer__navitemICON {
    width: 28px;
    padding: 0;
    margin: 0;
  }

  .noPost__secondaryTest {
    width: 95%;
  }

}

@media screen and (max-width: 681px) {
  .HomeSection__homePostCard {
    width: 98%;
  }

  .__EditProfile_form {
    width: 100%;
    padding: 1em 0em;
  }

  .__DeleteAccountBox_Deleteform {
    padding: 0em;
  }
}

@media screen and (max-width: 641px) {
  .dashboard__currentUser__infoContainer {
    min-height: 375px;
  }

  .userBox__fullName {
    width: 100%;
    padding-left: 1em;
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 0 1em;
  }

  .userBox__userBIO {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
    font-size: 20px;
    font-weight: 400;
    padding: 0 1.2em;
    word-wrap: break-word;
  }

  .infoContainer__userBox {
    min-height: fit-content;
  }

  .userBox__userName {
    font-size: 28px;
    padding-left: 0.1em;
  }

  .userBox__editProfileButton {
    margin-top: 20px;
    top: 100%;
    left: 0;
  }

  .CreatePost__box {
    width: 95%;
  }

  .createPost__form {
    width: 100%;
    box-shadow: none;
  }

  .createPost__currentUserInfo {
    padding: 0em;
  }

  .createPost__captionBox {
    width: 100%;
  }

  .createPost__selectImageICON {
    margin-left: 0em;
  }

  .__settingSection__nav {
    padding: 0em 0.5em;
    gap: 10px;
  }

  .__settingSection__navItems {
    padding: 0.7em 1.2em;
    font-size: 14px;
  }

}

@media screen and (max-width: 550px) {

  .homeContainer {
    flex-direction: column;
  }

  .__outlet {
    width: 100%;
    height: calc(100vh - 130px);
  }

  /* ! This block holds the Header Component Design */
  .__nav_Header {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(170, 170, 170);
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    z-index: 2;
  }

  .__nav_Logo {
    width: 9em;
  }

  .navLink {
    padding: 0;
    justify-content: center;
  }

  .navbar,
  .primary__navbar {
    border-top: 1px solid rgb(179, 179, 179);
    flex-direction: row;
    width: 100%;
    height: 4em;
    position: absolute;
    bottom: 0;
  }

  .__instaIcon_Hide,
  .__navbar_moreButton,
  .__popupContainer {
    display: none;
  }

  .__SecondaryPopupContainer {
    display: block;
    top: 110%;
    right: 10px;
  }

  .__secondaryMoreButton {
    padding: 0;
    margin: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profilePostContainer__PostBox {
    grid-template-columns: repeat(2, 0.8fr);
  }

  .profilePostContainer__postCard {
    height: 275px;
  }

  .otpVerifier__Form {
    width: 95vw;
  }

  .__lazyLoader_title {
    font-size: 28px;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 500px) {
  .Auth__UserLoginFormContainer {
    width: 100vw;
  }

  .__DeleteAccoutPopup {
    width: 95%;
  }

  .__DeleteAccountPopup__LIST {
    width: 100%;
  }

  .authFormn_Box,
  .authGotoSignUP_container,
  .Get_App_Container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .infoContainer__userProfile {
    width: 100px;
    height: 100px;
  }

  .userBox__userName {
    font-size: 20px;
  }

  .infoContainer__userBox {
    width: calc(100% - 110px);
  }

  .userBox__editProfileButton {
    width: 140px;
  }

  .userBox__fullName {
    top: 35%;
  }

  .userBox__userBIO {
    width: 100%;
    padding-left: 0.9em;
    top: 50%;
    font-size: 16px;
    line-height: 25px;
  }

  .userBox__activity {
    font-size: 16px;
  }

  .PostsContainer__navItem {
    width: 80px;
  }

  .OTPForm__input {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .OTP_Form_ButtonContainer {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .OTP__buttons {
    width: 95%;
  }

  .__Setting__UpdatePicturePopup {
    width: 95%;
  }
}

@media screen and (max-width: 376px) {
  .profilePostContainer__PostBox {
    grid-template-columns: repeat(1, 0.9fr);
  }

  .OTPForm__input {
    width: 40px;
    height: 40px;
  }

  .userBox__editProfileButton {
    margin-left: 0;
  }
}